.review-title {
    margin-bottom: 12px;
    margin-top:12px;
}

.review-text {
    resize: none;
    margin-bottom: 12px;
    margin-top: 12px;
}

#review-stars span {
    float: right;   
}

.success-message {
    font-size: 1.8em;
}

.error-message {
    color: red;
}
